@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300&display=swap');

:root {
  --accent-color-white: #ffffff;
  --accent-color-lt-blue: #b1d8fc;
  --background-color-drk-gray: #141414;
  --accent-bright-red: #ce2b5e;
  --accent-bright-purple: #b36cf8;
  --lighter-purple: #6358ff;
  --accent-bright-purple-blue: #5f54f4;
  --accent-black: #000000;
  --accent-md-gray: #363636;
  --accent-md-lt-gray: #535353;
  --accent-lt-gray: #676767;
  --accent-lighter-gray: #c7c7c7;
  --accent-button-gradient: linear-gradient(#ce2b5e, #ce2b5e, #ce2b5e, #ac0037, #ce2b5e );
  --title: font-family: "Fjalla One";
  --genre: font-family: "Roboto Condensed";
  --description: font-family: "Abel";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed";
  background-color: var(--background-color-drk-gray);
  width: 100%;
  height: 100%;
  background-image: url(../images/movie-background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overscroll-behavior: none;
}

#nav-container {
  overflow: hidden;
  width: 100%;
  height: 150px;
  padding: 35px 10px 25px 10px;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: var(--accent-black);
}

#nav-container::after {
  content: "";
  position: absolute;
  z-index: 200;
  min-width: 100%;
  left: -50px;
  right: -50px;
  top: 147px;
  height: 10px;
  background: #5f54f4;
  /* Old browsers */
  background: -moz-linear-gradient(left, #5f54f4 0%, #ce2b5e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5f54f4 0%, #ce2b5e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5f54f4 0%, #ce2b5e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f54f4', endColorstr='#ce2b5e', GradientType=1);
}

h1 {
  margin-top: 0;
  color: var(--accent-bright-purple-blue);
  font-family: "Fjalla One";
  text-align: center;
  font-size: 76px;
}

.mood {
  color: var(--accent-bright-purple-blue);
  font-family: "Fjalla One";
  background-color: var(--accent-bright-red);
  background-image: linear-gradient(var(--accent-bright-purple-blue), var(--lighter-purple), var(--accent-bright-red));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hashtag {
  position: relative;
  font-family: "Abel";
  font-size: 60px;
  color: var(--accent-bright-red);
  font-weight: 700;
  top: -18px;
}

.magnify {
  position: relative; 
  width: 40px;
  top: 29px;
  left: -21px;
  z-index: 300;
}

.flix {
  font-family: "Abel";
  font-size: 90px;
  color: var(--accent-bright-red);
  font-weight: 400;
}

/* dropdowns container */
#form-dropdown {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
}

/* .search-form {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  
} */

label {
  color: var(--accent-lt-gray);
  font-size: 20px;
  padding: 0 8px 0 0;
}

select {
  display: block;
  margin: 0;
  width: 125px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 7px;
  background-color: var(--accent-color-white);
  border-color: var(--accent-bright-red);
  border-radius: 3px;
}

.emoji-dropdown-menu {
  font-size: 30px;
  align-items: center;
}

.genre-dropdown-menu {
  font-size: 18px;
}

.emoji-dropdown-menu, .genre-dropdown-menu {
  width: 120px;
}

.genre-m-left {
  margin-left: 65px
}

option {
  height: 30px;
}

button {
  font-size: 14px;
  color: var(--accent-color-white);
  margin-left: 7px;
  width: 135px;
  height: 40px;
  cursor: pointer;
  background-color: var(--accent-bright-red);
  outline: none;
  border: 1px solid var(--accent-bright-red);
  border-radius: 2px;
  letter-spacing: 1px;
  transition: .3s ease-in-out;
}

button:hover, button:focus {
  background-color: #ac0037;
}

.next-12-button {
  background-color: transparent;
  color: var(--accent-bright-red);
}

.next-12-button:hover {
  color: var(--accent-color-white);
}

/* thumbnail section */
.movie-thumbnails-container {
  margin: 40px auto;
}

.thumbnail {
  position: relative;
  padding: 5px;
  width: 150px;
  height: 230px;
  margin: 17px;
  cursor: pointer;
  transition: .3s all;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
}

.thumbnail:hover {
  transform: scale(1.3);
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.9);
}

.thumbnail:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(); */
  background: #353abf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353abf 0%, #b2133d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #353abf 0%, #b2133d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #353abf 0%, #b2133d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353abf', endColorstr='#b2133d', GradientType=0);
  opacity: 0;
  transition: .3s all;
  z-index: 2;
}

.thumbnail:hover:before {
  opacity: 0.9;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.thumbnail .content {
  position: relative;
  z-index: 3;
  opacity: 0;
  transition: .3s all;
}

.thumbnail:hover .content {
  opacity: 1;
  transition: .3s all;
}

.title {
  position: relative;
  font-family: var(--title);
  font-weight: bold;
  color: var(--accent-color-white);
  font-size: 18px;
}

.genre {
  position: relative;
  font-family: var(--genre);
  font-size: 12px;
  color: var(--accent-color-lt-blue);
}

.description {
  position: relative;
  font-family: "IBM Plex Sans Thai";
  font-size: 9px;
  line-height: 12px;
  color: var(--accent-color-white);
  font-weight: 200;
  padding-bottom: 5px;
}

.rating {
  position: relative;
  color: var(--accent-color-lt-blue);
  font-size: 10px;
}

/* random quote */
.random-quote {
  position: relative;
  text-align: center;
  top: -10px;
}

.quote-subhead {
  color: var(--accent-md-lt-gray);
  font-size: 20px;
}

.quote {
  margin-top: 15px;
  font-size: 32px;
  color: var(--accent-lt-gray);
  line-height: 47px;
}

.random-quote-btn {
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  top: -10px;
  border: 1px solid var(--accent-lt-gray);
  color: var(--accent-lt-gray);
  font-size: 14px;
  letter-spacing: 1px;
  width: 100px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
}

.random-quote-btn:hover, .random-quote-btn:focus {
  background-color: #ac0037;
  color: var(--accent-color-white);
  border: 1px solid var(--accent-bright-red);
}

.posters-container {
  display: flex;
  flex-wrap: wrap;
}

.poster img {
  background-color: green;
  width: 215px;
  height: 330px;
  margin: 7px;
}

.load-12-more {
  font-size: 16px;
  border: none;
  background-color: var(--accent-bright-red);
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  border: 2px solid var(--accent-bright-red);
  margin-top: 20px;
}




